#wall .tag-1 {
  display: none;
}

div#wall #tag-2 {
  display: none;
}
/* div id    class class */
/* a class of "slick wicked" is really two classes */
#wall #tag-3.slick.wicked {
  display: none;
}
#wall .parent >#tag-4 {
  display: none;
}
div#wall div.parent >#tag-5.slick {
  display: none;
}
div#wall div.parent div:last-child  div#tag-6:first-child  {
  display: none;
}
body div#wall div.parent:last-child div:first-child > #tag-7.slick {
  display: none;
}
#wall * {
  display: none;
}
